@import "variables.scss";

*, *::before, *::after {
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  -webkit-user-select: none;
  font-family: $font-family;
  #wrapper {
    #dragbar {
      height: 20px;
      width: 450px;
      display: block;
      background: #1a0d00;
      color: #fff;
      font-size: 11.5px;
      padding: 0 5px;
      line-height: 20px;
      -webkit-app-region: drag;
    }
    #game-wrapper {
      display: block;
      width: 450px;
      height: 450px;
      background: #111;
      .pool {
        display: block;
        color: #d2d2d2;
        line-height: 150px;
        text-align: center;
        font-size: 80px;
        width: 150px;
        height: 150px;
        background: #111;
        float: left;
        border: .5px solid #d2d2d2;
      }
      .pool:nth-child(3n+0)::after {
        content: "";
        clear: both;
      }
      .pool:nth-child(odd) {
        background: #1a1a1a;
      }
    }
    #game-end {
      display: none;
      background: #111;
      height: 450px;
      width: 450px;
      text-align: center;
      color: #1e88e5;
      font-size: 32px;
      #player-winner {
        position: relative;
        top: 25px;
      }
      #reset {
        position: relative;
        top: 50px;
        color: #fff;
        background: #2e7d32;
        width: 70%;
        margin: 0 auto;
        border: 3px solid #2e7d32;
        font-size: 22px;
        padding: 7.5px;
      }
      #quit {
        position: relative;
        top: 57.5px;
        background: #ff1744;
        color: #fff;
        width: 70%;
        margin: 0 auto;
        border: 3px solid #ff1744;
        padding: 7.5px;
        font-size: 22px;
      }
    }
  }
}
